.ipynb_checkpoints
*.pyc
.idea/*
/logs/**
/analytics/data/**/COTAHIST*
app/backend/docker/**
/**/Bolsa.egg-info
/analytics/ortisan-ta/ortisan_ta.egg-info/**
/analytics/docker/**

.vscode/

app/docker/
